version: "3.7"

services:
  taskmaster:
    build: .
    image: ifaisalalam/ide-taskmaster
    restart: on-failure
    env_file:
      - .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
